body {
	/*	background: #446CB3;*/
	background-image: url("../files/img_heart_rate.svg");
	background-attachment: fixed; /* <-- Esto hace el truco :D*/

	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;

	text-align: left;

	margin: 0;
	padding:0;
}

.new_background {
	background-image: url("../files/img_background.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
}

@font-face {
	font-family: 'MiNuevaFuente';
	src: url('../fonts/segoeuil_0.ttf');
}

#principal {
	display: block;
	background: #2c3e50;

	text-align: left;

	width: 100%;
	margin: auto;
	padding-top: 1%;

	height: 30%;
	max-height: 150px;
}

#logo {
	margin: auto;

	width: 10%;
	max-width: 85px;

	padding-left: 2.5%;

	opacity: 0.75;
}

#titulo {
	color: white;
	font-size: 100px;
	font-family: MiNuevaFuente;
}

#parrafo {
	color:black;
	display: block;
	text-align: center;
	margin: 15px auto;
	font-family:MiNuevaFuente;
	font-size: 45px;
	width: auto;
}

@media screen and (max-width: 480px) {
	#titulo {
	font-size: 50px;
	}

	#parrafo {
		font-size: 22px;
	}
}

#buttons {
	display: flex;
}

.button {
	display: inline-block;
	position: relative;
	min-width: 175px;
	min-height: 250px;

/*
	width: px;
	height: 200px;

*/

	background-color: #2c3e50;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

.button:hover {
	cursor: pointer;
	width: 300px;
	height:325px;

	background-color: #54aae2;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

.boton:active {
	box-shadow: #000000;
}

/**********************************************************************************************/

#crearCita_btn {
	margin-left: auto;
	margin-right: 2px;
	margin-top: 0;
}

#crearCita_btn:hover #nombre {
	font-size:40px;
	padding-top:60px;
	opacity:1;

	transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;

}

#crearCita_btn:hover #img {
	width:100px;
	border-radius:0;

	box-shadow:0px 0px 0px 10px rgba(255,255,255,0.1);
	-webkit-box-shadow:0px 0px 0px 10px rgba(255,255,255,0.1);

	transition: all 1s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition: all 1s ease;
}

/**********************************************************************************************/
#consultarCitas_btn {
	margin-right: auto;
	margin-top: 0;

	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

#consultarCitas_texto {
	font-family:MiNuevaFuente;
	color:white;
	font-size:25px;
	text-align:center;
	padding-top:80px;
	opacity:0.6;
}
#consultarCitas_btn:hover {
	cursor: pointer;
	width: 300px;
	height:325px;

	background-color: #4c73ff;

	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}

#consultarCitas_btn:hover #consultarCitas_texto {
	font-size:40px;
	padding-top:60px;
	opacity:1;

	transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;

}

#consultarCitas_btn:hover #verCitas_img {
	width:100px;
	border-radius:0;

	box-shadow:0px 0px 0px 10px rgba(255,255,255,0.1);
	-webkit-box-shadow:0px 0px 0px 10px rgba(255,255,255,0.1);

	transition: all 1s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition: all 1s ease;

}

/**********************************************************************************************/
#img, #verCitas_img {
	display: block;
	margin:10px auto;
	width:40px;

	background-color:rgba(255,255,255,0.15);
	vertical-align: middle;
	border-radius: 50px;
	padding:20px;
	border-radius: 50px;
	-webkit-border-radius: 50px;

	box-shadow:0px 0px 0px 10px rgba(255,255,255,0);
	-webkit-box-shadow:0px 0px 0px 10px rgba(255,255,255,0);
	-moz-box-shadow:0px 0px 0px 10px rgba(255,255,255,0);

	transition: all 1s ease;
	-webkit-transition:all 0.4s ease;
	-moz-transition: all 1s ease;
}

#nombre {
	font-family:MiNuevaFuente;
	color:white;
	font-size:25px;
	text-align:center;
	padding-top:80px;
	opacity:0.6;
}

#form {
	display: flex;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

#formulario {
	position:absolute;

	color:white;

	padding: 10px 40px; /*Margen interno*/

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);

	background-color: rgba(0,0,0,0.35);
	border-radius: 30px;
	box-shadow: rgb(255,255,255) 10px 10px 35px inset;
	border: 1px solid #999999;

	box-sizing: border-box;
}

#n2 {
	font-family: MiNuevaFuente;
	padding: 20px;
	font-size: 40px;
	text-align: center;
}

input {
	font-family: MiNuevaFuente;
	width: 100%;
	margin-bottom: 30px;
	padding: 7px;
	box-sizing: border-box;
	border: 1px solid #B0D3EC;
}

footer {

	margin-top: 10px;
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #999999;
}



#citassection {
	padding-top: 2em;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 6em;
	background-color: rgba(255, 255, 255, 0.9);
	width: 60%;
	margin: 0 auto;
	font-family: MONOSPACE;
}

#citastable {
	border-collapse: collapse;
}

#tr_tags {
	background-color: #466e96;
	color: white;
	font-family: MiNuevaFuente;
	text-align: center;
	border-radius: 10px;
}

#tr_tags #first-child {
	/*border-top-left-radius: 10px;*/

}
#tr_tags #last-child {
	/*border-top-right-radius: 10px;*/
}

th {
	padding: 10px;
}

#citastable {
	border: 0px solid transparent;
}

td, tr {
	border: 1px solid rgba(176, 193, 224, 0.18);
}

td, tr {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	background-color: #F3F2EE;
}


tbody {
	text-align: center;

}

.btn_azul {
  border: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_azul:hover {
  background: #3cb0fd;
  text-decoration: none;
}
.btn_azul:active {
  background: #2c90dd;
  text-decoration: none;
}

.btn_rojo {
  border: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #EC2424;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_rojo:hover {
  background: #fC4444;
  text-decoration: none;
}
.btn_rojo:active {
  background: #BC1414;
  text-decoration: none;

}

.btn_con_img {
	padding: 3px;
	padding-bottom: 1px;
}

#img_btn {
	width: 18px;

}


.trcita {
	text-decoration: none;
	color: #4EA5E4;
}

.trcita:hover {
	text-decoration: underline;
	color: #0A66A9;
}

#opciones {
	margin: 2em;
}


nav {
width: 100%;
	display: block;
	margin: 0 auto 20px;
	border-top: 1px solid #333;
	position: absolute;
	background-color: #2c3e50;
}

nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
	background-color: #2c3e50;
}

nav ul li{
	font-family: Arial;
    float:left;
    font-size:16px;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
}

nav ul li:hover{
    background-color: #4c6e80;
}

nav ul li a{
    color:#fff;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
}

nav ul #last_li {
	float: right;
}

.label {
	color: #4EA5E4;
	font-size: 16px;
}

textarea {
	width: 99%;
	height: 200px;
	resize: vertical;
}
